{% include 'header.twig' %}
{% block head %}
{% endblock %}
</head>

  <body class="{{body_class}}" data-source="base.twig">

    <!-- Header -->
    <header itemscope itemtype="WPHeader">
      {% block header %}
        <div class="container">
          <p class="site-logo"><a href="{{site.url}}/"><span>Front-end Dev</span> Weekly</a></p>
        </div>
      
        <!-- 
        <nav id="access" class="main-navigation" role="navigation">
            <ul>
            {% for item in menu.items %}
                <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
                    <a href="{{item.link}}">{{item.title}}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        -->

      {% endblock %}
    </header>

    
      <!-- {% if title %}<h1>{{title}}</h1>{% endif %} -->
      
    {% block content %}
        Sorry, no content
    {% endblock %}
      
    <footer itemscope itemtype="WPFooter">
      {% include 'footer.twig' %}
    </footer>
    
    {{ function('wp_footer') }}
  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

    <!-- <script src="js/plugins.js"></script> -->
    <!-- <script src="js/vendor/boostrap/plugins.js"></script> -->
    <script src="{{site.theme.link}}/js/main.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49243039-1', 'frontenddevweekly.com');
      ga('send', 'pageview');
    </script>

    <script type="text/javascript">
      var $mcGoal = {'settings':{'uuid':'11df2122a2a2c5c3fc46242c5','dc':'us7'}};
      (function() {
         var sp = document.createElement('script'); sp.type = 'text/javascript'; sp.async = true; sp.defer = true;
        sp.src = ('https:' == document.location.protocol ? 'https://s3.amazonaws.com/downloads.mailchimp.com' : 'http://downloads.mailchimp.com') + '/js/goal.min.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sp, s);
      })(); 
    </script>

    <script type="text/javascript">
    var clicky_site_ids = clicky_site_ids || [];
    clicky_site_ids.push(100729820);
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//static.getclicky.com/js';
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
    </script>
    <!-- Live Reload for dev mode -->
    <!-- <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script> -->

  </body>
</html>