<!DOCTYPE html itemscope itemtype="http://schema.org/WebPage">
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
  <meta charset="{{site.charset}}" />
  <title>{{wp_title}}</title>
  <meta name="description" content="{{site.description}}">
  <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="pingback" href="{{site.pingback_url}}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{site.theme.link}}/favicon.ico">

  <!-- Schema.org Tags -->
  <meta itemprop="url" content="{{site.url}}" />
  <meta itemprop="name" content="{{site.name}}" />
  <meta itemprop="email" content="galen.vinter@gmail.com" />
  <meta itemprop="description" content="{{site.description}}" />
  <meta itemprop="image" content="http://frontenddevweekly.com/wp-content/themes/fedw/img/galen.jpg" />

  <!-- Open Graph Tags -->
  <meta name="og:site_name" content="{{site.name}}" />
  <meta name="og:title" content="{{site.description}}" />
  <meta name="og:url" content="{{site.url}}" />
  <meta name="og:image" content="http://frontenddevweekly.com/wp-content/themes/fedw/img/galen.jpg" />
  <meta name="og:type" content="website" />

  {{function('wp_head')}}