{% extends "base.twig" %}

{% block content %}

  <!-- Banner -->
  <div class="banner">
    <div class="container">
      <div class="banner-inner">
        <h1 class="title">{{theme_options.home_headline}}</h1>
        <p class="subtitle">{{theme_options.home_sub_headline}}</p>
      </div>
    </div>
    <div class="banner-signup">
      <div class="container">
        {% include ['mailchimp-form.twig'] %}
      </div>
    </div>

    {% if last_issue %}
      <div class="banner-menu">
        <div class="container">
          <nav>
            <ul>
              <li><a href="{{site.url}}/issues/">All Issues</a></li>
              <li><a href="{{site.url}}/issue/{{last_issue.slug}}">Last Week</li>
              {# <li><a href="{{site.url}}/categories/">By Category</a></li> #}
            </ul>
          </nav>
        </div>
      </div>
    {% endif %}
  </div>

{% if theme_options.button1text_setting != 'HELLO!' %}
{% endif %}

  <!-- Main Content -->
  <div class="container">

    {% if issues %}
      {% for post in issues %}
        {% include ['issue-content.twig'] %}
      {% endfor %}
    {% else %}
      <div class="stream">
        
          <div class="row">
            <h2 class="issue-title"><span class="issue-num-date col-sm-2 col-xs-10">Issue 1 <br /> Coming Soon</span> <span class="issue-title col-sm-8 col-xs-10">{{theme_options.home_no_issues_title}}</span></h2>
          </div>

          <div class="row issue-commentary">
            <div class="issue-commentary-meta col-xs-2">
              <span class="headshot"><img src="wp-content/themes/fedw/img/galen.jpg"></span>
              <span class="galen">
                Galen Vinter
                <a href="http://twitter.com/gvinter">@gvinter</a>
              </span>
            </div>
            <div class="col-xs-8 commentary">
              {{theme_options.home_no_issues_text}}
            </div>
          </div>

        </div><!-- /stream -->
    {% endif %}

  </div> <!-- /container -->

{% endblock %}