{% extends "base.twig" %}

{% block content %}
	
	<div class="post-banner {{post.issue_section|slugify_section_title}}">
		<div class="container">
			<div class="col-sm-8 col-sm-push-1">
				<p>{{theme_options.home_headline}}</p>
			</div>
		</div>
	</div>

	<div class="banner-menu">
    <div class="container">
      <nav>
        {# <pre>
          {{last_issue|print_r}}
        </pre> #}
        <ul>
        	<li><a href="{{site.url}}/">Home</a></li>
          {# <li><a href="{{site.url}}/issue/{{last_issue.slug}}">Last Week</li> #}
          <li><a href="{{site.url}}/issues/">All Issues</a></li>
          {# <li><a href="{{site.url}}/categories/">By Category</a></li> #}
        </ul>
      </nav>
    </div>
  </div>
	
	<!-- Main Content -->
  <div class="container">
  	<div class="row">
  		<div class="col-md-7">
				{% include ['issue-content.twig'] %}
			</div>
			<aside class="col-md-3">
		    {{sidebar}}
			</aside>
  	</div>
	</div>

{% endblock %}