{% extends "base.twig" %}

{% block content %}

{# <pre> #}
{# {{[post]|print_r}} #}
{# </pre> #}

	<div class="banner post-banner {{post.issue_section|slugify_section_title}}"></div>
	
	<div class="container">
	
		<div class="row">
			<div class="col-md-7 single-post-wrapper">
				<article class="row {{post.issue_section|slugify_section_title}}" itemscope itemtype="http://schema.org/BlogPosting">
				  <h1 class="col-sm-10 post-title" itemprop="name"><a href="{{post.link}}" itemprop="url">{{post.post_title}}</a></h1>
				  <p class="col-sm-10 issue_section" itemprop="learningResourceType"><span>{{post.issue_section}}</span></p>
				  <div class="col-sm-10 post-content" itemprop="articleBody">{{post.post_content}}</div>
				  <a href="{{post.article_link}}" class="col-sm-10 post-link" itemprop="isBasedOnUrl">{{post.article_link}}</a>

				  <div class="row">
					  <div class="col-lg-3 author" itemscope itemtype="http://schema.org/Author">
						  <span class="headshot"><img src="{{site.theme.uri}}/img/galen.jpg" itemprop="image"></span>
				      <span class="galen" itemprop="name">
				        Galen Vinter 
				        <a href="http://twitter.com/gvinter" itemprop="url">@gvinter</a>
				      </span>
			      </div>
		      </div>
				</article>
			</div>
			<aside class="col-md-3">
		    {{sidebar}}
			</aside>
		</div>

	</div>

{% endblock %}