{% extends "base.twig" %}

{% block content %}

{# <pre> #}
{# {{[post]|print_r}} #}
{# </pre> #}

	<div class="banner post-banner {{post.issue_section|slugify_section_title}}"></div>
	
	<div class="container">
	
		<div class="col-lg-6 single-post-wrapper">
			<article class="row {{post.issue_section|slugify_section_title}}">
			  <h1 class="col-sm-10 post-title">{{post.post_title}}</h1>
			  <div class="col-sm-10 post-content">{{post.post_content}}</div>
			  <a href="#" class="col-sm-10 post-link">{{post.article_link}}</a>

			  <div class="row">
				  <div class="col-lg-3 author">
					  <span class="headshot"><img src="{{site.theme.uri}}/img/galen.jpg"></span>
			      <span class="galen">
			        Galen Vinter 
			        <a href="http://twitter.com/gvinter">@gvinter</a>
			      </span>
		      </div>
	      </div>
			</article>
		</div>

	</div>

{% endblock %}